{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!
{% endblock %}

{% block body %}
	<form action="{{ path('login') }}" method="post" >
		<label for="_username">Votre Email</label>
		<input type="text" name="_username" id="username">

		<label for="_password">Votre mot de passe</label>
		<input type="password" name="_password" id="password">
        <input type="hidden" name="_target_path" value="/admin">
        <button type="submit">Se connecter</button>
	</form>
{% endblock %}
